<div class="container">
    <h1 class="text-center my-3">Try My Calculator! 😁</h1>
    <br>
    <div class="card text-white bg-warning mb-3 center">
        <!-- <div class="card-header">
          Featured
        </div> -->
        <div class="card-body">
            <span class="mx-2 float-right" id = "hi">
                {{lcd}}
            </span>
            <br><br>
            <hr>
            <button *ngFor="let button of numberButtons" class="btn btn-dark my-1 mx-1 mybtn"
                (click)="numberClick(button)">
                {{button}}
            </button>
            <button class="btn btn-success my-1 mx-1 " style="width: 83px"
                (click)="result()">
                =
            </button>
            <button *ngFor="let button of operationButtons" class="btn btn-info my-1 mx-1 mybtn"
                (click)="operationClick(button.sign)">

                {{button.sign}}
            </button>
            <button class="btn btn-secondary my-1 mx-1 " style="width: 173px"
                (click)="reset()">
                C
            </button>
        </div>
    </div>
    <div class="center">

    </div>

</div>