.center {
    margin: auto;
    width: 250px;
    /* border: 3px solid #ffc107     ; */
    padding: 13px;
    /* border-radius: 10%; */
  }

.mybtn {
    width: 37px
}

span {
    font-size: 50px ; 
    font-weight: bold;
    color: #2E2E2E; 
}